<!--
  
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Kyle Hantula</title>
<link rel="stylesheet" href="css/styles.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@500&display=swap"
  rel="stylesheet"
/>
<!-- Optional and Good From  meta tags to use-->
<meta name="keywords" content="Kyle Hantula" />
<meta name="description" content="Portfolio of Kyle Hantula" />
<meta name="author" content="Kyle Hantula" />
<!-- Link required for BootStrap CSS -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
  crossorigin="anonymous"
/>
<!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    /> -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a href="/" class="logo">
      <img
        src="https://img.icons8.com/ios-filled/100/000000/binary-file.png"
        alt="binary file icon"
      />
    </a>
    <ul class="nav-links">
      <li class="nav-item"><a href="/">HomePage</a></li>
      <li class="nav-item"><a href="webresources">Web Dev Resources</a></li>
      <li class="nav-item"><a href="/project">Project</a></li>
    </ul>
  </nav>
</header>
<div class="container-fluid">
  <div class="container mt-4">
    <h3 class="container">
      You're looking at:
      <code><%= view.pathFromApp + '.test' +view.ext %></code>
    </h3>

    <div class="row">
      <h1 id="portfolioheading">Quick Liquor Team Project</h1>
    </div>
    <div class="col-md-12">
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas
        porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies,
        purus lectus malesuada libero, sit amet commodo magna eros quis urna.
        Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.
      </p>
    </div>

    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas
      porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus
      lectus malesuada libero, sit amet commodo magna eros quis urna. Nunc
      viverra imperdiet enim. Fusce est. Vivamus a tellus.
    </p>
    <p>
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames
      ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci. Aenean nec
      lorem. In porttitor. Donec laoreet nonummy augue. Suspendisse dui purus,
      scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque
      at sem venenatis eleifend. Ut nonummy.
    </p>
    <h2>Software Requirements Specification</h2>
    <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames
        ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci. Aenean nec
        lorem. In porttitor. Donec laoreet nonummy augue. Suspendisse dui purus,
        scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque
        at sem venenatis eleifend. Ut nonummy.
      </p>
  </div>

</div>

<footer>
  <p>© K&H Industries. All rights reserved.</p>
</footer>
