<!--
  
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Kyle Hantula</title>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@500&display=swap"
  rel="stylesheet"
/>
<!-- Optional and Good From  meta tags to use-->
<meta name="keywords" content="Kyle Hantula" />
<meta name="description" content="Portfolio of Kyle Hantula" />
<meta name="author" content="Kyle Hantula" />
<!-- Link required for BootStrap CSS -->

<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a href="/" class="logo">
      <img
        src="https://img.icons8.com/ios-filled/100/000000/binary-file.png"
        alt="binary file icon"
      />
    </a>
    <ul class="nav-links">
      <li class="nav-item"><a href="/">HomePage</a></li>
      <li class="nav-item"><a href="webresources">Web Dev Resources</a></li>
      <li class="nav-item"><a href="/project">Quick Liquor Project</a></li>
    </ul>
  </nav>
</header>
<div class="container-fluid">
  <div class="container mt-5">
    <h1 class="portfolioheading">Quick Liquor Team Project</h1>

    <div class="col-md-12">
      <p>
        <a href="http://liquorrus.hopto.org/index.html">Quick Liquor</a> was a
        project I worked on with Eric Sergio, Kyu Kim, and Jerry Lin. The
        project was a program that Eric had written in his previous classes to
        help him at his job to maintain bar inventory and the orders that he was
        required to submit to distributors. This specific iteration objective
        was to order and log the Liquor orders for a bar. Eric’s earlier
        application iterations would allow a bar owner to order, but the input &
        output was a manual process(copy-paste). The challenge was to get a
        working API to model the distributors taking requests, providing
        receipts, and storing orders. The Use Case and Activity Diagram posted
        below depict the intent of this iteration of our development. Aside from
        Eric’s experience, Quick Liquor was our group’s first time working with
        APIs and PHP, so a big challenge was our ability to understand and
        comprehend what was already happening with the code and how we could
        implement additional features.
      </p>
      <div class="column">
        <h2 class="portfolioheading">Use Case Diagram</h2>
        <img
          class=".img-fluid. max-width: 100%;"
          src="images/useCaseDiagram.png"
          alt="use case diagram"
          style="background-color: white"
        />
      </div>
      <div class="column">
        <h2 class="portfolioheading">Activity Diagram</h2>
        <img
          class=".img-fluid. max-width: 100%;"
          src="images/ActivityDiagram.png"
          alt="ActivityDiagram"
        />
      </div>
    </div>

    <p style="clear: both; padding-top: 5px">
      The documentation was the most difficult parts of the project in my
      opinion. We had several challenges around code revisions that needed to be
      reflected in our documentation. Luckily we had a Documentarian as good as
      Kyu Kim. The Use Case is straight-forth. A business owner requires to
      input sales data, automatically generate orders and auto-update the
      database on order confirmation. The Activity Diagram shows the various
      processes performed in between.
    </p>
    <div class="column">
      <h2 class="portfolioheading">Class Diagram</h2>
      <img
        class=".img-fluid. max-width: 100%;"
        src="images/ClassDiagram.png"
        alt="Class Diagram"
        style="background-color: white"
      />
    </div>

    <div class="column">
      <h2 class="portfolioheading">Sequence Diagram</h2>
      <img
        class=".img-fluid. max-width: 100%;"
        src="images/SequenceDiagram.png"
        alt="Sequence Diagram"
      />
    </div>
    <div class="text-center">
      <h2 class="portfolioheading">CRC, TOR & Database Entity</h2>
      <img
        class=".img-fluid. max-width: 100%;"
        src="images/TOR&CRC&DATABASE.png"
        alt="TOR, CRC & Database Diagram"
      />
    </div>
    <div class="text-center">
      <h1
        class="portfolioheading"
        style="text-transform: uppercase; margin-top: 2em; font-style: italic;"
        
      >
        The Feature That I Contributed:
      </h1>
    </div>
    <br />
    <div class="column">
      <h3 class="portfolioheading">1. Item Info Feature</h3>
      <img
        class=".img-fluid. max-width: 100%;"
        src="images/ItemInfo0.png"
        alt="use case diagram"
        style="background-color: white"
      />
    </div>
    <div class="column">
      <h3 class="portfolioheading">2. Populate a Liquor by Category</h3>
      <img
        class=".img-fluid. max-width: 100%;"
        src="images/iteminfo1.png"
        alt="ActivityDiagram"
      />
    </div>

    <p style="clear: both">
      From Item 1. You can see the user has to navigate to the Item Info page
      where they can then select the type of Liquor they would like to produce
      Stats for. Once info.html - users can then select LI items to add to their
      stat lists (see Item 2).
    </p>
    <p>
      There's an on-click Javascript function that uses Jquery to highlight the
      LI's by adding them to a class. Once the LI's are selected, the user can
      hit the "Submit" button to trigger the JS function which utilizes JQuery
      to look at the DOM and take that information & pass it through an AJAX
      call to the PHP page. The PHP page then calls a MySQL Stored Procedure to
      calculate the Info stats & populate the table which is sent back to the
      DOM via the AJAX callback and then appended to the page when finished. You can see more of the code at our github repository <a href="https://github.com/ericsergio/isit320-quickLiquor/">here.</a>
    </p>

    <div class="column">
      <h3 class="portfolioheading">3. Choose Stat Info Items</h3>
      <img src="images/iteminfo2.png" alt="use case diagram" />
    </div>
    <div class="column">
      <h3 class="portfolioheading">4.View Item Info Stats</h3>
      <img
        class=".img-fluid. max-width: 100%;"
        src="images/iteminfo3.png"
        alt="ActivityDiagram"
      />
    </div>

    <div class="text-center">
      <h2 class="portfolioheading" style="font-style: italic; color: red; margin-top:10px;">
        Project Retrospective
      </h2>
    </div>

    <h3 class="portfolioheading">What did you learn during this experience?</h3>
    <p>
      I specifically learned that development is crazy complex once you get
      outside the syntax of languages. You then have to integrate with each of
      the specific technologies, which was a big challenge for my own coding.
      There's so many versionings of every product and if you don't have a
      baseline for your deployment and local development environments, there's
      going to be problems. Additionally, I learned a bunch of LAMP stack
      related items during this iteration of code. I am normally am a Windows Power user,
      so operating around Ubuntu and having a stable deployment/development
      environment for an on-prem VM was a huge challenge. However, this allowed me to work
      outside of my norms. I think some folks call it growth 😉.
    </p>
    <h3 class="portfolioheading">
      What does what you experienced mean to you?
    </h3>
    <p>
      This experience has been phenomenal, It feels like the blastoff for a
      career of collaboration and code with other like-minded individuals. Our
      group was not short of conflicts, but we persevered through and I feel
      that we became better developers because of it. Additionally, I added 4
      new coders to my network and we have plans to create an additional
      iteration of development for this application.
    </p>
    <h3 class="portfolioheading">
      How does the meaning that you have derived from these experiences fit into
      your academic, career, or life?
    </h3>
    <p>
      I think learning and using experiences to push forth your other
      aspirations is the cycle of life. During the course of this class, I
      learned so much in development around the LAMP stack I didn't know how to
      use previously.
    </p>
    <h3 class="portfolioheading">
      What strengths did you learn from this experience?
    </h3>
    <p>
      I think I got a great handle on git, PHP, jquery & AJAX calls during this presentation. I would also say I got a bit more platform experience utilizing Ubuntu with Azure. Microsoft solutions are great at enterprise scale, but it's nice to see how the average subscription owner is publishing resources to the web.
    </p>
    <h3 class="portfolioheading">
      What were the humbling moments and how did you break through?
    </h3>
    <p>
      The humbling moment for me was when Eric did our initial code walkthrough.
      I had no idea how AJAX calls to PHP worked and it was definitely a
      learning curve to understand the current code that existed. Additionally,
      I had no previous knowledge of MySQL or PHP, but after taking a couple of
      tutorial courses and working with eric, I feel as though my breakthrough
      moment was writing the Item Info feature itself. I spent a whole day on
      StackOverflow researching various techniques around AJAX calls to PHP and
      finally got the feature working... It felt really good to pass data and be
      able to contribute to such a complex application.
    </p>
    <h3 class="portfolioheading">
      What advice do you have for someone following the same path?
    </h3>
    <p style="padding-bottom: 30px;">
      Read, watch Videos, vigorously take notes - this isn't a job, it's a
      profession, and an extremely difficult one at that. Always schedule study
      time and make sure that you're writing in your OneNote, Notepad, Whatever
      you decide to use along the way. I'm a career professional coming from a
      world of IT operations with experience scripting and most pieces of code
      still chalenge my wits in every capacity. Additionally, I recommend that
      you get really good at using
      <a
        href="https://www.linkedin.com/learning/git-essential-training-the-basics/"
        >Git.</a
      >
      Watch this whole series and practice it with your code often and you'll
      have no problem. Additionally, make sure to challenge yourself - at the
      start of this group project I was terrible at git and I knew this. I did
      hacky work-arounds using "git clone", but once the opportunity presented
      itself to take the role "merge manager" I jumped at the opportunity. It
      may have seemed like I signed myself up for extra work, but I was really
      just trying to obtain some applicable experience to git operations. And Oh
      boy did I learn a lot - I got several opportunities to revert pushes and
      remove commits from the application... It definitely challenged me, but I
      feel a lot better for have taking on the challenge as I was rewarded with
      a more intimate knowledge of the subject.
    </p>
  </div>
</div>
<footer>
  <p>© K&H Industries. All rights reserved.</p>
</footer>
